body{
    
    color:#fff;

    font-family: "Roboto", sans-serif;
}
img:not(.play-icon, .venom){
    max-width: 100%;
}
.container{
    max-width: 1440px;
    width: 90%;
    margin: auto;
}

.venom{
    position: absolute;
   top: 0;
   right: 0;
   max-width: 728px;
   width: 50%;
}

.header{
    display:flex;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 80px;
   
}
.logo__link{
    display:inline-block;
    margin-right: 50px;
}
.nav__menu{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    
    
}

.nav__menu-item{
    margin-right: 30px;
}

.nav__menu-link{
text-decoration: none;
color: rgba(255, 255, 255, 0.5);

}
.film{
    margin-bottom: 5%;
}
.film__date{
    display:block;
    font-size: 24px;
line-height: 28px;
margin-bottom: 2%;
color: rgba(255, 255, 255, 0.8);
}

.film__logo{
    margin-bottom:4%;
    max-width: 830px;
    width: 80%;
}

.film__description{
    font-size: 16px;
line-height: 140%;
color: rgba(255, 255, 255, 0.8);

max-width: 423px;
}

.button{
    padding: 15px 30px;
    border:none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.button__text, .button__icon{
    display:inline-block;
    vertical-align: middle;
}

.button__text{
    font-size: 14px;
    line-height: 16px;
    margin-left: 10px;
}

.button-primary{
    color: #8D0019;
    background-color: #fff;
}

.button__link{
    color: #FFFFFF;
}



.blood{
    background:url(../img/blood.png) no-repeat top right ,
    #14131A
    url(../img/background.png) no-repeat  center center / 100%;
}

.primary-bg{
    background:
    url(../img/background.png) no-repeat  center center / 100%;
    background-color: #14131A;

}

.content{
    display: flex;
    
}

.col{
flex-basis: 50%;
}

.content__title{
    font-weight: bold;
font-size: 36px;
line-height: 42px;
color: rgba(255, 255, 255, 0.8);
margin-bottom: 20px;
}

.content__text{
    font-size: 16px;
line-height: 140%;
/* or 22px */
color: rgba(255, 255, 255, 0.8);
max-width: 423px;
margin-bottom: 30px;

}

.content__subtitle{
    font-size: 16px;
line-height: 140%;
/* or 22px */
font-weight: bold;
margin-bottom: 15px;
margin-top: 0;
color: rgba(255, 255, 255, 0.8);
}

.content .list{
    list-style: none;
    padding: 0;
    
}

.list__item{
    line-height: 1.5;
}

.column-2{
    column-count: 2;
    column-gap: 20px;
    max-width: 320px;
}

.content .trailer{
    width: 356px;
    height: 205px;
    background: url(../img/trailer-cover.png) no-repeat center/contain;
border-radius: 5px;
display: flex;
align-items: center;
justify-content:center;
}

.trailer .play{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.trailer .play-icon{
    transform: translate(-5px);
}

.trailer{
    margin-top: 33px;
}

.poster__wrapper{
    display: flex;
    align-items: start;
}

.poster{
    width: 362px;
    border-radius: 5px;
    margin-right: 30px;
}

.poster__wrapper .content__subtitle{
    margin-bottom: 5px;
}



.poster__wrapper .list{
    margin: 0;
    margin-bottom: 20px;
    
}

.nav__menu-link:hover{
color:#c92140;


transition: all 1s;

}

.button__link:hover{
    color:#c92140;
    transition: all 1s;
}

.play-icon:hover{
    transition: all 1s;
transform: scale(1.5);
}

.button-primary:hover{
    transition: all 1s;
background-color: #8D0019;
color: #fff;
}
.menu__button{
    display:none;
}

.menu__close{
    display: none;
}

@media (max-width:1024px){
.content{
    flex-direction: column;
    padding-bottom: 5%;
}
.col{
    margin-bottom: 5%;
}

.header{
    margin-bottom: 4%;
    justify-content: space-between;
}

}

@media (max-width:768px){
    .blood{
        background:#14131A;
    }

    .venom{
        top:10%;
    }

}

@media (max-width:576px){
.nav__menu{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items:center;
   flex-direction: column;
   background-color: #fff;
   transform: translateX(150%);
   transition: transform 0.2s ;
}

.menu__close{
    position: fixed;
    right: 25px;
    top: 65px;
    opacity: 0;
    display: flex;
    align-items:center;
    z-index: 10;
    border:none;
    background-color: #fff;
    cursor: pointer;
    transform: translateX(150%);
    transition: transform 0.2s ;
transition-delay: 0.3s;
}

.is-active{
    transform: translateX(0);
    opacity: 1;
}

.menu__close_text{
margin-right: 10px;

}

.nav__menu-item{
    margin-bottom: 3%;
    margin-top: 3%;
    margin-right: 0;
}


.nav__menu-link{
color:#14131A;

}

.menu__button{
    display:flex;
    align-items:center;
    justify-content: center;
    padding: 10px;
    border:none;
    background:#14131A;
    cursor: pointer;
    color:#FFFFFF;
    margin-left: auto;
}

.menu__button_text{
margin-right: 10px;
}

.button-group{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}

.film__text{
    text-align: center;
}

.poster__wrapper{
    flex-direction: column;
}
.poster{
    margin-bottom: 4%;
    margin-right: 0;
    
}

.content .trailer{
    max-width: 350px;
    width: 100%;
}

.column-2{
    column-count:1;
}
}

